/* line 1, ../scss/app.scss */
html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

/* line 1, ../scss/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 15px 1px #222;
  z-index: 900;
}

/* line 12, ../scss/_header.scss */
#logo {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0.7rem;
  left: 1.5rem;
  border-radius: 5rem;
  border: 1px solid white;
  background: transparent url(../img/la_style.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 26, ../scss/_header.scss */
#title {
  position: absolute;
  left: 6.5rem;
  top: 0.9rem;
  color: #fff;
  padding-left: 2rem;
  max-width: 20rem;
}

/* line 35, ../scss/_header.scss */
#title > p:first-child {
  font-size: 2.7rem;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  color: #fff;
}

/* line 42, ../scss/_header.scss */
#title > p:last-child {
  font-family: 'Roboto Slab';
  font-size: 1.4rem;
  letter-spacing: 1px;
}

/* line 48, ../scss/_header.scss */
nav {
  position: absolute;
  height: 100%;
  left: 28.5rem;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  box-sizing: border-box;
  padding-right: 2%;
}

/* line 61, ../scss/_header.scss */
.navBtn {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 3rem;
  cursor: pointer;
}
/* line 68, ../scss/_header.scss */
.navBtn:hover {
  color: #cd2109;
  -moz-transition: color 1s 0s ease;
  -webkit-transition: color 1s 0s ease;
  transition: color 1s 0s ease;
}
@media screen and (max-width: 600px) {
  /* line 61, ../scss/_header.scss */
  .navBtn {
    display: none;
  }
}

/* line 80, ../scss/_header.scss */
.menuBtn {
  color: white;
  font-size: 2rem;
  display: none;
}
/* line 85, ../scss/_header.scss */
.menuBtn:hover {
  color: #cd2109;
  -moz-transition: color 1s 0s ease;
  -webkit-transition: color 1s 0s ease;
  transition: color 1s 0s ease;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  /* line 80, ../scss/_header.scss */
  .menuBtn {
    display: block;
  }
}

/* line 98, ../scss/_header.scss */
#rwd-menu {
  width: 100%;
  position: absolute;
  top: 7rem;
  bottom: 0;
  background-color: #333;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: -webkit-transform 1s 0s ease;
  -moz-transition: -moz-transform 1s 0s ease;
  transition: transform 1s 0s ease;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  flex-direction: column;
  z-index: 1000;
}
/* line 116, ../scss/_header.scss */
#rwd-menu.expanded {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 124, ../scss/_header.scss */
.rwdMenuBtn {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  -moz-transition: opacity 0.5s 0s ease, color 0.5s 0s ease;
  -webkit-transition: opacity 0.5s 0s ease, color 0.5s 0s ease;
  transition: opacity 0.5s 0s ease, color 0.5s 0s ease;
}
/* line 134, ../scss/_header.scss */
.rwdMenuBtn:hover {
  color: #cd2109;
}

/* line 139, ../scss/_header.scss */
#rwd-menu.expanded .rwdMenuBtn {
  opacity: 1;
  -moz-transition: opacity 0.5s 1s ease, color 0.5s 0s ease;
  -webkit-transition: opacity 0.5s 1s ease, color 0.5s 0s ease;
  transition: opacity 0.5s 1s ease, color 0.5s 0s ease;
}

/* line 1, ../scss/_homepage.scss */
#rwd-menu.expanded ~ main {
  opacity: 0;
}

/* line 5, ../scss/_homepage.scss */
main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 7rem;
  -moz-transition: opacity 1s 0s ease;
  -webkit-transition: opacity 1s 0s ease;
  transition: opacity 1s 0s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 19, ../scss/_homepage.scss */
.beauty {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  flex-direction: column;
  padding: 7.5rem 0;
  border-bottom: 1px solid black;
  background-color: #130f04;
  position: relative;
  margin-bottom: 4rem;
}

/* line 31, ../scss/_homepage.scss */
.beauty > p {
  font-size: 3rem;
  font-weight: 300;
  line-height: 4rem;
  -moz-transition: font-size 0.5s 0s ease;
  -webkit-transition: font-size 0.5s 0s ease;
  transition: font-size 0.5s 0s ease;
  color: #b9b9b9;
}
@media screen and (max-width: 690px) {
  /* line 31, ../scss/_homepage.scss */
  .beauty > p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  /* line 31, ../scss/_homepage.scss */
  .beauty > p {
    font-size: 1.8rem;
  }
}

/* line 49, ../scss/_homepage.scss */
.beauty > p > em {
  font-weight: 700;
  color: #fff;
}

/* line 54, ../scss/_homepage.scss */
.center {
  position: absolute;
  bottom: 0;
  left: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 63, ../scss/_homepage.scss */
.center .cta {
  background: #fff;
  display: inline-block;
  padding: 1rem;
  position: relative;
  top: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px #222;
}

/* line 75, ../scss/_homepage.scss */
.skillset {
  width: 33.3333%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  position: relative;
  margin-top: 2rem;
}
@media screen and (max-width: 690px) {
  /* line 75, ../scss/_homepage.scss */
  .skillset {
    float: none;
    width: 100%;
    padding: 2rem 0;
  }
}

/* line 90, ../scss/_homepage.scss */
.skillset:nth-child(1) .fa-circle, .skillset:nth-child(1) h3 {
  color: #e51c23;
}

/* line 91, ../scss/_homepage.scss */
.skillset:nth-child(2) .fa-circle, .skillset:nth-child(2) h3 {
  color: #259b24;
}

/* line 92, ../scss/_homepage.scss */
.skillset:nth-child(3) .fa-circle, .skillset:nth-child(3) h3 {
  color: #3f51b5;
}

/* line 94, ../scss/_homepage.scss */
h3 {
  font-size: 2rem;
  font-family: 'Roboto';
  padding: 1rem;
  font-weight: 300;
}

/* line 101, ../scss/_homepage.scss */
h4 {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  line-height: 2rem;
  max-width: 85%;
  margin: 0 auto;
  min-height: 6rem;
  font-weight: 100;
}

/* line 112, ../scss/_homepage.scss */
.skillset ul {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2rem;
  list-style-type: disc;
  padding: 0.5rem 0;
}

/* line 123, ../scss/_homepage.scss */
.skillset .fa-stack .fa:last-child {
  color: white;
}

/* line 127, ../scss/_homepage.scss */
.skillset:first-child:after,
.skillset:nth-child(2):after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #aaa;
}
@media screen and (min-width: 690px) {
  /* line 127, ../scss/_homepage.scss */
  .skillset:first-child:after,
  .skillset:nth-child(2):after {
    height: 80%;
    top: 15%;
    left: 100%;
  }
}
@media screen and (max-width: 690px) {
  /* line 127, ../scss/_homepage.scss */
  .skillset:first-child:after,
  .skillset:nth-child(2):after {
    width: 60%;
    left: 20%;
    bottom: 0;
    height: 1px;
  }
}

/* line 147, ../scss/_homepage.scss */
.fa-code-fork {
  position: relative;
  left: 2px;
}

/* line 1, ../scss/_portfolio.scss */
.portfolioCard {
  height: auto;
  width: 98%;
  margin: 1rem 1% 0;
  box-sizing: border-box;
  border: 1px solid #b5b5b5;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* line 23, ../scss/_portfolio.scss */
.pcHero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-transition: max-height 0.8s ease-out;
  -o-transition: max-height 0.8s ease-out;
  -webkit-transition: max-height 0.8s ease-out;
  transition: max-height 0.8s ease-out;
  max-height: 100%;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  z-index: 100;
}

/* line 36, ../scss/_portfolio.scss */
.pcHeroImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* line 51, ../scss/_portfolio.scss */
.pcHeroCurtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  -moz-transition: opacity 0.3s 0;
  -o-transition: opacity 0.3s 0;
  -webkit-transition: opacity 0.3s 0;
  transition: opacity 0.3s 0;
}

/* line 61, ../scss/_portfolio.scss */
.pcHero:hover .pcHeroCurtain {
  opacity: 0.3;
}

/* line 68, ../scss/_portfolio.scss */
.pcBlock {
  height: 25rem;
  border-bottom: 1px solid #b5b5b5;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

/* line 76, ../scss/_portfolio.scss */
.pcShowMore {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  text-shadow: 0 0 2px black;
}
/* line 83, ../scss/_portfolio.scss */
.pcShowMore div:first-child {
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  float: left;
  font-size: 3rem;
  cursor: pointer;
}
/* line 89, ../scss/_portfolio.scss */
.pcShowMore div:last-child {
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  margin-left: 1rem;
  float: left;
  font-size: 1.5rem;
  line-height: 3rem;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="0"] .portfolioCard[data-pc-index="0"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="0"]) .portfolioCard[data-pc-index="0"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="0"] .portfolioCard[data-pc-index="0"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="0"] .portfolioCard[data-pc-index="0"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="0"] .portfolioCard[data-pc-index="0"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="1"] .portfolioCard[data-pc-index="1"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="1"]) .portfolioCard[data-pc-index="1"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="1"] .portfolioCard[data-pc-index="1"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="1"] .portfolioCard[data-pc-index="1"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="1"] .portfolioCard[data-pc-index="1"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="2"] .portfolioCard[data-pc-index="2"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="2"]) .portfolioCard[data-pc-index="2"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="2"] .portfolioCard[data-pc-index="2"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="2"] .portfolioCard[data-pc-index="2"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="2"] .portfolioCard[data-pc-index="2"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="3"] .portfolioCard[data-pc-index="3"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="3"]) .portfolioCard[data-pc-index="3"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="3"] .portfolioCard[data-pc-index="3"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="3"] .portfolioCard[data-pc-index="3"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="3"] .portfolioCard[data-pc-index="3"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="4"] .portfolioCard[data-pc-index="4"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="4"]) .portfolioCard[data-pc-index="4"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="4"] .portfolioCard[data-pc-index="4"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="4"] .portfolioCard[data-pc-index="4"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="4"] .portfolioCard[data-pc-index="4"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="5"] .portfolioCard[data-pc-index="5"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="5"]) .portfolioCard[data-pc-index="5"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="5"] .portfolioCard[data-pc-index="5"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="5"] .portfolioCard[data-pc-index="5"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="5"] .portfolioCard[data-pc-index="5"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="6"] .portfolioCard[data-pc-index="6"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="6"]) .portfolioCard[data-pc-index="6"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="6"] .portfolioCard[data-pc-index="6"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="6"] .portfolioCard[data-pc-index="6"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="6"] .portfolioCard[data-pc-index="6"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="7"] .portfolioCard[data-pc-index="7"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="7"]) .portfolioCard[data-pc-index="7"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="7"] .portfolioCard[data-pc-index="7"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="7"] .portfolioCard[data-pc-index="7"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="7"] .portfolioCard[data-pc-index="7"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="8"] .portfolioCard[data-pc-index="8"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="8"]) .portfolioCard[data-pc-index="8"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="8"] .portfolioCard[data-pc-index="8"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="8"] .portfolioCard[data-pc-index="8"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="8"] .portfolioCard[data-pc-index="8"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="9"] .portfolioCard[data-pc-index="9"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="9"]) .portfolioCard[data-pc-index="9"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="9"] .portfolioCard[data-pc-index="9"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="9"] .portfolioCard[data-pc-index="9"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="9"] .portfolioCard[data-pc-index="9"] .pcHeroCurtain {
  opacity: 0;
}

/* line 101, ../scss/_portfolio.scss */
#body[data-pc-index="10"] .portfolioCard[data-pc-index="10"] .pcHero {
  max-height: 25rem;
}

/* line 105, ../scss/_portfolio.scss */
#body:not([data-pc-index="10"]) .portfolioCard[data-pc-index="10"] .pcHero:hover .pcHeroImg {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 109, ../scss/_portfolio.scss */
#body[data-pc-index="10"] .portfolioCard[data-pc-index="10"] .pcShowMore > div:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 113, ../scss/_portfolio.scss */
#body[data-pc-index="10"] .portfolioCard[data-pc-index="10"] .pcShowMore > div:last-child {
  opacity: 0;
}

/* line 117, ../scss/_portfolio.scss */
#body[data-pc-index="10"] .portfolioCard[data-pc-index="10"] .pcHeroCurtain {
  opacity: 0;
}

/* line 168, ../scss/_portfolio.scss */
.pcBody {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #444444;
  padding: 1.25rem 2rem 1.55rem 1.25rem;
}

/* line 175, ../scss/_portfolio.scss */
.pcTags {
  height: 10rem;
  width: 100%;
  border-top: 1px solid #b5b5b5;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 187, ../scss/_portfolio.scss */
.pcTag {
  height: 6rem;
  width: 6rem;
  border: 1px solid #b5b5b5;
  border-radius: 50%;
  margin: 5%;
  background-size: 4rem 4rem;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 198, ../scss/_portfolio.scss */
.pcTag.ux {
  background-image: url(../img/tag_ux.png);
}

/* line 201, ../scss/_portfolio.scss */
.pcTag.psd {
  background-image: url(../img/tag_psd.png);
}

/* line 204, ../scss/_portfolio.scss */
.pcTag.ai {
  background-image: url(../img/tag_ai.png);
}

/* line 208, ../scss/_portfolio.scss */
.pcImg {
  width: 50%;
  height: 50%;
  display: inline-block;
}

/* line 214, ../scss/_portfolio.scss */
.pcMore {
  width: 100%;
  text-align: center;
  border-top: 1px solid #b5b5b5;
  cursor: pointer;
}

/* line 220, ../scss/_portfolio.scss */
.pcMore > p {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 2rem;
  color: #777;
}

/* line 228, ../scss/_portfolio.scss */
.thanks {
  text-align: center;
  font-weight: bold;
  margin: 5rem auto;
  color: #585858;
  font-family: "Roboto slab";
}

/* line 13, ../scss/app.scss */
.warning {
  background-color: gold;
  color: #555;
  padding: 0.5rem;
  border-bottom: 1px solid goldenrod;
  font-size: 1.25rem;
  position: absolute;
  opacity: 0.75;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-transition: -webkit-transform 1s 0s ease;
  -webkit-transition: -webkit-transform 1s 0s ease;
  transition: transform 1s 0s ease;
  -webkit-transform: translateY(110%);
  -moz-transform: translateY(110%);
  transform: translateY(110%);
  z-index: 99999;
}
/* line 32, ../scss/app.scss */
.warning.show {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 41, ../scss/app.scss */
a {
  text-decoration: none;
}
