html{
	font-size: 10px;
	font-family: $font-main, "Helvetica", sans-serif;
}

a{
	text-decoration: none;
	color: initial;

	&:hover{
		text-decoration: underline;
	}
}


.preventScroll{ overflow: hidden; }
.white { color: white; }

/*----------------------------------------------------------
	Spacing
------------------------------------------------------------*/
section:not(:last-child){ margin-bottom: 2rem }

.headerMargins:before{
	content:'';
	width: 100%;
	height: 7rem;
	display: block;
}

.bottomNavMargins:after{
	content:'';
	width: 100%;
	height: 7rem;
	display: block;
}

/*----------------------------------------------------------
	Positioning
------------------------------------------------------------*/
.pos-all{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*----------------------------------------------------------
	Flex
------------------------------------------------------------*/
.center{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-space-around{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flex-row{ flex-direction: row; }
.flex-col{ flex-direction: column; }

.flex-wrap{ flex-wrap: wrap; }

.col-even {
	box-sizing: border-box;
	padding: 0.5rem;
	flex: 0 0 33.333%;

	&:first-child{ padding-left: 1rem; }
	&:last-child{ padding-right: 1rem; }

	@media screen and (max-width: 700px) {
		&{
			flex: 0 0 100%;
			padding: 0.5rem 1rem;
		}
	}
}

/*----------------------------------------------------------
	White Cards
------------------------------------------------------------*/
.whiteCard {
	width: 97.5%;
	margin: 1.25%;
	box-sizing:border-box;
	border: 1px solid #C5C5C5;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	background-color: white;
}

/*----------------------------------------------------------
	Bottom Nav Bar
------------------------------------------------------------*/
.bottomNavBar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	padding: 1rem;
	border-top: 1px solid #C5C5C5;
}

/*----------------------------------------------------------
	Call to Action, .cta is circular, .cta-button is rectangular
------------------------------------------------------------*/
 .cta{
	background: #fff;
	color: black;
	display: inline-block;
	padding: 1rem;
	position: relative;
	font-size: 2rem;
	border-radius: 50%;
	border: 1px solid rgb(221, 221, 221);
	width: 2rem;
	height: 2rem;
	line-height: 1rem;
	cursor: pointer;
}

.cta-button{
	background: #fff;
	color: #000;
	display: inline-block;
	padding: 1rem 1.5rem;
	position: relative;
	font-size: 1.5rem;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 0.25rem;
}

.cta,.cta-button{
	transition: all 0.3s ease-out 0s;

	&:hover{
		background: #CDCDCD;
		box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
	}
	&:active{
		box-shadow: 0 0 0rem rgba(0, 0, 0, 0), 0 0 0.5rem rgba(0, 0, 0, 0.3) inset;
		background-color: rgb(253, 253, 253);
	}
}


/*----------------------------------------------------------
	portfolioBanner is a full-width gray banner > p+em+span.cta
------------------------------------------------------------*/

.portfolioBanner{
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	padding: 6rem 0;

	.portfolioBannerText {
		display: inline-block;
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 3.5rem;
		transition: font-size 0.5s 0s ease;
		color:white !important;
		text-decoration: none !important;
		cursor:pointer;
		padding: 0 2rem;

		@media screen and (max-width: 600px){
			font-size: 2rem;
		}

		em {
			font-weight: 700;
		}

		.cta {
			margin-top:1rem;
			margin-left:1rem;

			@media screen and (max-width: 600px){
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1.5rem;
			}
		}
	}
}