header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	pointer-events:none;
}


#logo {
	height: 5rem;
	width: 5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	border-radius: 50%;
	border: 2px solid white;
	background: transparent url(../img/la_style_sm.jpg);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing:border-box;
	z-index: 10;
	pointer-events: auto;
}

nav {
	pointer-events: auto;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	padding-right: 20%;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: column;


	visibility: hidden;
	animation: bounceOutRight 0.6s both 0.3s;

	body.pageInit & {
		visibility: visible;
	}

	header.showNav & {
		visibility: visible;
		animation: bounceInRight 0.6s both 0s;
		transform: translateX(0%);
	}

}



.navBtn {
	color: white;
	font-family: $font-accent;
	font-weight: 700;
	font-size: 4rem;
	padding: 1rem 3rem;
	cursor: pointer;

	&.active{
		color: #E12907;
		transition: color 0.6s 0s ease-out;
	}

	&:first-child{
		margin-top: 7rem;
	}

}

.menuBtn {
	pointer-events: auto;
	color: black;
	font-size: 2rem;
	width: 7rem;
	position: absolute;
	top: 0rem;
	right: 0rem;
	height: 7rem;
	z-index: 10;

	&,
	&:after{
		transition: all 0.6s ease-out 0s;
	}

	&:after{
		content: '';
		position: absolute;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		border: 3px solid black;
		top: 1rem;
		left: 1rem;
		box-sizing: border-box;
	}

	header.showNav & {
		color: white;

		&:after{
			border: 3px solid white;
		}
	}
}

.menubar{
	width: 33%;
	height: 6%;
	background-color: black;
	position: absolute;
	left: 33%;
	border-radius: 0.25rem;
	transform-origin: 93% 36%;
	transition: all 0.3s cubic-bezier(.5,-0.5,.5,1.5) 0s;

	&.menubar1{
		top: 37%;
	}
	&.menubar2{
		top: 47%;
	}
	&.menubar3{
		bottom: 37%;
	}

	header.showNav &{

		background-color: white;
		left: 30%;

		&.menubar1{
			transform: rotate(-45deg);
		}
		&.menubar2{
			opacity: 0;
		}
		&.menubar3{
			transform: rotate(45deg);
		}
	}
}
