.beauty{
	text-align: center;
	padding:7.5rem 0;
	border-bottom: 1px solid rgba(34, 34, 34, 0.3);
	background-color: white;
	position: relative;

	> h1 {
		font-size: 3rem;
		font-weight: 100;
		line-height: 4rem;
		transition: font-size 0.5s 0s ease;
		color:#050505;

		@media screen and (max-width: 690px){
			font-size: 2.5rem;
		}
		@media screen and (max-width: 600px){
			font-size: 2.2rem;
		}
		@media screen and (max-width: 310px){
			font-size: 1.8rem;
		}


		> em {
			font-weight: 700;
			color:#fff;
		}
	}
}

h1,h3,h4{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

 .cta{
	background: #fff;
	color: black;
	display: inline-block;
	padding: 1rem;
	position: relative;
	font-size: 2rem;
	border-radius: 50%;
	box-shadow: 0px 0px 1px #222;
	width: 2rem;
	height: 2rem;
	line-height: 1rem;
}

.skills:after {
  content: "";
  display: table;
  clear: both;
}

.skillset{
	width:33.3333%;
	box-sizing:border-box;
	float:left;
	text-align: center;
	position: relative;
	margin-top: 2rem;

	@media screen and (max-width: 690px){
		float:none;
		width: 100%;
		padding:2rem 0;
	}
}

.skillset.ux .fa-circle,.skillset.ux h3{ color: $red; }
.skillset.design .fa-circle,.skillset.design h3{ color: $blue; }
.skillset.dev .fa-circle,.skillset.dev h3{ color: $green; }

h3 {
	font-size:2rem;
	padding:1rem;
}

h4 {
	font-size: 1.4rem;
	letter-spacing: 0.5px;
	padding: 0.5rem 1rem;
	line-height: 2rem;
	max-width: 85%;
	margin: 0 auto;
	min-height: 6rem;
	color: rgb(71, 71, 71);
}


.skillset ul{
	width: 50%;
	margin: 0 auto;
	text-align: left;
	font-size: 1.5rem;
	line-height: 2rem;
	list-style-type: disc;
	padding: 0.5rem 0;
}


.skillset .fa-stack .fa:last-child{
	color:white;
}

.skillset:first-child:after,
.skillset:nth-child(2):after{
	content:'';
	position: absolute;
	width:1px;
	background-color: #aaa;

	@media screen and (min-width: 690px){
		height: 80%;
		top: 15%;
		left:100%;
	}
	@media screen and (max-width: 690px){
		width: 60%;
		left:20%;
		bottom:0;
		height: 1px;
	}
}

.fa-code-fork {
	position: relative;
	left:2px;
}

/*----------------------------------------------------------
	portfolioBanner is a full-width gray banner > p+em+span.cta
------------------------------------------------------------*/

.portfolioBanner{
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	padding: 6rem 0;

	.portfolioBannerText {
		display: inline-block;
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 3.5rem;
		transition: font-size 0.5s 0s ease;
		color:white !important;
		text-decoration: none !important;
		cursor:pointer;

		@media screen and (max-width: 600px){
			font-size: 2rem;
		}

		> em {
			font-weight: 700;
		}

		.cta {
			margin-top:1rem;
			margin-left:1rem;

			@media screen and (max-width: 600px){
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1.5rem;
			}
		}
	}
}

/*----------------------------------------------------------
	skillCards animate in/out and have overflowing content
------------------------------------------------------------*/

.skillCards.ux,.skillCards.design,.skillCards.dev {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: opacity 0.5s ease 0s;
	opacity: 1;
}

.skillCards.ux {
	.screenFiller,
	.skillcard{ background-color: $red; }
}
.skillCards.design {
	.screenFiller,
	.skillcard{ background-color: $blue; }
}
.skillCards.dev {
	.screenFiller,
	.skillcard{ background-color: $green; }
}


/*----------------------------------------------------------
	.screenFiller is a large circular div that animates IN only
------------------------------------------------------------*/
.skillCards.ng-enter .screenFiller,
.skillCards.ng-leave .screenFiller{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	border-radius: 50%;
	overflow: hidden;
	transform-origin: center center;
	transition: transform 1s ease 0;
	transform: translateX(-50%) translateY(-50%) scale(1);
}

.skillCards.ng-enter .screenFiller{
	transform: translateX(-50%) translateY(-50%) scale(0);
}

.skillCards.ng-enter-active .screenFiller{
	transform: translateX(-50%) translateY(-50%) scale(1);
}

.skillCards.ng-leave .screenFiller{
	display: none;
}


/*----------------------------------------------------------
	skillcard - pos-all div contains actual content. Animates OUT only
------------------------------------------------------------*/
.skillcard{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.4s ease 0s;
}
.skillCards.ng-enter .skillcard {
	display: none;
}
.skillCards.ng-leave .skillcard{
	opacity: 0;
}
