#rwd-menu.expanded ~ main {
	opacity: 0;
}

main {
	position: absolute;
	top: 7rem;
	bottom: 0;
	left: 0;
	right: 0;
	-moz-transition: opacity 1s 0s ease;
	-webkit-transition: opacity 1s 0s ease;
	transition: opacity 1s 0s ease;
	overflow: hidden;
}

#beauty{
	display: -webkit-box; display: flex;
	-webkit-box-align: center; align-items: center;
	-webkit-box-pack: center; justify-content: center;
	-webkit-box-orient: vertical; flex-direction: column;	
	padding:2.5rem 0;
	border-bottom: 1px solid black;
	// background-image: url("../img/transp_bg.png");
	background-repeat: repeat;
}

#beauty > p {
	font-family: 'Roboto Slab';
	font-size: 3.5rem;
	-moz-transition: font-size 1s 0s ease;
	-webkit-transition: font-size 1s 0s ease;
	transition: font-size 1s 0s ease;

	@media screen and (max-width: 600px){
		font-size: 2rem;
	}

}

#beauty em {
	font-weight: bold;
	color: orangered;
}

// #homepage {
// 	background-image: url("../img/binding_dark.png");
// 	background-repeat: repeat;
// }
