.portfolioCard {
	height: auto;
	overflow: hidden;
	position: relative;
}

.pcHero{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: max-height 0.8s 0s ease-out;
	max-height: 100%;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
	z-index: 100;
}
.portfolioCard.loading .pcHero{
	pointer-events:none;
}


.pcHeroImg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: transform 0.3s 0s ease-out;
	background-color: white;
}




.pcHeroCurtain{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	transition: opacity 0.3s ease 0s;

	.portfolioCard.loading & {
		opacity: 0.3;
	}
}



.pcBlock {
	height: 25rem;
	border-bottom:1px solid #b5b5b5;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.pcShowMore{
	position: absolute;
	top: 1rem;
	left: 1rem;
	color: white;
	text-shadow: 0 0 2px black;
	transition: opacity 0.5s 0s ease;
	opacity: 1;
	highlight-color: transparent;

	.portfolioCard.loading & {
		opacity: 0;
	}

	div:first-child{
		transition: transform 0.3s 0s ease;
		float: left;
		font-size: 3rem;
		cursor:pointer;
	}
	div:last-child{
		transition: opacity 0.3s 0s ease;
		margin-left: 1rem;
		float: left;
		font-size: 1.5rem;
		line-height: 3rem;
	}

}

.pcBody {
	font-size: 1.5rem;
	line-height: 2.2rem;
	color: #444444;
	padding: 1.25rem 2rem 1.55rem 1.25rem;
}

.pcTags {
	height: 10rem;
	width: 100%;
	border-top: 1px solid #b5b5b5;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

.pcTag{
	height: 6rem;
	width: 6rem;
	border: 1px solid #b5b5b5;
	border-radius: 50%;
	margin:5%;
	background-size: 4rem 4rem;
	background-position: center center;
	background-repeat: no-repeat;
}

$tags: ux,psd,ai,wp,php,html,css,js,webcode;

@each $tag in $tags {
	.pcTag.#{$tag} {
		background-image: url(../img/tag_#{$tag}.png);
	}
}

.pcImg {
	width: 50%;
	height: 50%;
	display: inline-block;
}

.pcMore {
	width: 100%;
	text-align: center;
	border-top: 1px solid #b5b5b5;
	cursor: pointer;
}
.pcMore > p {
	font-size: 1.25rem;
	font-weight: bold;
	padding: 2rem;
	color: #777;
}

.pcTitle {
	// position: absolute;
	// bottom: 2rem;
	// left: 2rem;

	padding: 1.25rem 2rem 0rem 1.25rem;

	> p{
		font-size: 3rem;
		line-height: 3rem;
		font-family: "Roboto Slab";

		@media screen and (max-width: 500px) {
			font-size: 2.5rem;
		}
	}

	> .white{
		text-shadow: 0 0 3px black;
	}
}

/*----------------------------------------------------------
	Hero Text
------------------------------------------------------------*/
.pcHeroText{
	opacity: 1;
	transition: opacity 0.4s ease-out 0s;
}
.pcSubtitle{

	display: block;
	padding: 0.7rem;
	margin: 1rem 0;
	background-color: white;
	transition: all 0.3s ease-out 0.1s;
	opacity: 0;
	transform:scale(0.75);

	> p{
		font-size: 1.5rem;
		font-weight: 700;
	}
}

.pcHeroText .cta{
	transition: all 0.6s ease-out;
	transform:translateY(-100%);
}
.pcHeroText .cta:hover,
.pcHeroText .cta-button:hover{
	background-color: white;
}

/*----------------------------------------------------------
	Hover effects
------------------------------------------------------------*/
.pcHero:hover .pcHeroCurtain{
	opacity: 0.3;
}
.pcHero:hover .pcSubtitle{
	opacity: 1;
	transform:scale(1);
	transition: opacity 0.4s ease-out 0s, transform 0.4s ease-out 0s;
}
.pcHero:hover .pcHeroText .cta{
	transform:translateY(0%);
}

/*----------------------------------------------------------
	Active Effects
------------------------------------------------------------*/
.portfolioCard.active{

	// Shrink active hero img
	.pcHero{
		max-height: 25rem;
	}
	//Animate-out active curtain and text
	.pcHeroCurtain,
	.pcHeroText{
		opacity: 0;
	}

}



.thanks{
	text-align: center;
	font-weight: bold;
	margin: 6rem auto;
	color: #585858;
	font-family: "Roboto slab";
	line-height: 1.4rem;
}

//Loading screen
.pcHeroLoader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: white;

	.portfolioCard.loading &{
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
	}

	display: none;
}

// Spinner

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
  	dash $duration ease-in-out infinite,
  	colors ($duration*4) ease-in-out infinite;
  // animation:
  //   dash $duration ease-in-out infinite,
  //   colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}