@import "reset";

#uiRouterInfo{
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(204, 70, 70);
	font-size: 0.8rem;
	padding: 0.5rem;
	margin: 0;
	background-color: rgba(86, 24, 24, 0.16);
}


$font-main: "Roboto";
$font-accent: "Roboto Slab";

$red: #e51c23;
$blue: #259b24;
$green: #3f51b5;

html{
	font-size: 10px;
	font-family: $font-main, "Helvetica", sans-serif;
}

// .mainPage{ transition: opacity 0.4s ease-out 0s; }
// .mainPage.ng-enter{ opacity: 0; transition-delay: 0.4s}
// .mainPage.ng-enter-active{ opacity: 1 }
// .mainPage.ng-leave{ opacity: 1 }
// .mainPage.ng-leave-active{ opacity: 0 }

@import "helpers";
@import "header";
@import "homepage";
@import "portfolio";
@import "contact";

@import "animate/bounceInRight";
@import "animate/bounceOutRight";

a{
	text-decoration: none;
	color: initial;
}



