
// @import "compass/reset";
@import "reset";

html{
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}

@import "header";
@import "homepage";
@import "portfolio";
@import "contact";

@import "animate/bounceInRight";

a{
	text-decoration: none;
	color: initial;
}



