<!DOCTYPE html>
<html ng-app="SW">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Seth&apos;s Dev, Design &amp; UX Portfolio</title>
	<link href="img/favico.png" type="image/png" rel="icon">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400' rel='stylesheet' type='text/css'>
	<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="css/app.css" rel="stylesheet" type="text/css">
	<!--script src="js/zepto.dev.js" type="text/javascript"></script-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="js/portfolio.js" type="text/javascript"></script>
	<script src="js/data.js" type="text/javascript"></script>
</head>
<body>

<div id="body" data-pc-index="-1">

	<header>
		<a href="index.html"><div id="logo"></div></a>
		<div id="title">
			<p>SETH WIEDER</p>
			<p>Creative Technologist</p>
		</div>
		<nav>
			<a href="index.html"><p class="navBtn">HOME</p></a>
			<p class="navBtn">PORTFOLIO</p>
			<a href="contact.html"><p class="navBtn">CONTACT</p></a>
		</nav>
		<div class="menuBtn">
			<div class="fa fa-bars"></div>
		</div>
	</header>
	<main>
		<div ng-controller="SceneController as pCtrl">
			<div ng-repeat="pCard in pCtrl.portfolioCards" class="portfolioCard loading" data-pc-name="{{pCard.name}}" data-pc-index="{{$index}}">
				<div class="pcHero" data-pc-index="{{$index}}">
					<div class="pcHeroImg" imageonloaded="{{pCard.hero}}"></div>
					<div class="pcHeroLoader">
						<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
						   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
						</svg>
					</div>
					<div class="pcHeroCurtain"></div>
					<div class="pcShowMore">
						<div>+</div><div>SHOW MORE</div>
					</div>
				</div>
				<div class="pcBlock"></div>
				<div class="pcTitle">
					<p>{{pCard.title}}</p>
				</div>
				<div class="pcBody">
					<p>{{pCard.body}}</p>
				</div>
				<div class="pcTags">
					<div ng-repeat="tag in pCard.tags" class="pcTag {{pCard.tags[$index]}}"></div>
				</div>
			</div>
		</div>
		<p class="thanks">Thanks for looking!<br>Let's get in touch.</p>
	</main>
	<div class="warning">This page is in <b>beta</b>. It is under heavy construction.</div>

</div>

</body>
</html>