<div class="contactPage">
	<div class="contactImgContain">
		<div class="contactImg"></div>
		<!-- <p>#LikeABoss</p> -->
	</div>
	<div class="contactCardContain">
		<a class="cta-button contactCard" href="mailto:contact@sethwieder.com" target="_blank"><span class="fa fa-2x fa-inbox"></span><span>contact@sethwieder.com</span></a>
		<a class="cta-button contactCard" href="http://sethwieder.com/sethwieder_resume_frontend.pdf" target="_blank"><span class="fa fa-2x  fa-file-text"></span><span>Resume</span></a>
		<a class="cta-button contactCard" href="http://www.linkedin.com/pub/seth-wieder/2b/978/411/" target="_blank"><span class="fa fa-2x fa-linkedin-square"></span><span>LinkedIn</span></a>
		<a class="cta-button contactCard" href="https://twitter.com/swieder227" target="_blank"><span class="fa fa-2x fa-twitter-square"></span><span>@swieder227</span></a>
	</div>
</div>