<section class="beauty">
	<h1>A talented Front-End Developer<br/>with an eye for Design and UX.</h1>
</section>
<section class="portfolioBanner introBanner">
	<span class="portfolioBannerText">
		<p>Hello, World. Welcome!</p>
		<p class="introText">Download my <a class="white" href="http://sethwieder.com/sethwieder_resume_frontend.pdf" target="_blank"><em>resume</em></a>, view my <a class="white" ui-sref="home.skills({ whichskill: 'ux' })"><em>skills</a></em>, look at my <a class="white" ui-sref="portfolio"><em>portfolio</em></a>, or <a class="white" ui-sref="contact"><em>contact</em></a> me directly. </p>
	</span>
</section>
<section class="skills">
	<div class="skillset ux">
		<div class="fa-stack fa-4x">
			<span class="fa fa-circle fa-stack-2x"></span>
			<span class="fa fa-code-fork fa-stack-1x"></span>
		</div>
		<h3>UX</h3>
		<h4>Deliberate decision-making and testing to perfect the app's&nbsp;interaction.</h4>
		<div class="cta-button" ui-sref="home.skills({ whichskill: 'ux' })" ng-click="toggleScroll(true);">
			User Experience Skills
		</div>
	</div>
	<div class="skillset design">
		<div class="fa-stack fa-4x">
			<span class="fa fa-circle fa-stack-2x"></span>
			<span class="fa fa-file-image-o fa-stack-1x"></span>
		</div>
		<h3>Design</h3>
		<h4>Modern and professional design approach from the phone to the&nbsp;desktop.</h4>
		<div class="cta-button" ui-sref="home.skills({ whichskill: 'design' })" ng-click="toggleScroll(true);">
			Design Chops
		</div>
	</div>
	<div class="skillset dev">
		<div class="fa-stack fa-4x">
			<span class="fa fa-circle fa-stack-2x"></span>
			<span class="fa fa-code fa-stack-1x"></span>
		</div>
		<h3>Front-End</h3>
		<h4>Cutting-edge programming filled with animation and&nbsp;interactivity.</h4>
		<div class="cta-button" ui-sref="home.skills({ whichskill: 'dev' })" ng-click="toggleScroll(true);">
			Coding Proficiencies
		</div>
	</div>
</section>
<div class="skillContainer {{whichskill}}" ng-class="{ 'skillContainSwitch' : skillContainSwitch}" ui-view></div>
<section class="portfolioBanner">
	<a ui-sref="portfolio">
		<span class="portfolioBannerText">
			<p>Want to see what I can do?</p>
			<p>
				<em>Check out my portfolio.</em>
				<span class="cta">
					<span class="arrow fa fa-angle-right"></span>
				</span>
			</p>
		</span>
	</a>
</section>