<section class="beauty">
	<h1>A talented Front-End Developer<br/>with an eye for Design and UX.</h1>
</section>
<section class="skills">
	<div class="skillset">
		<div class="fa-stack fa-4x">
			<span class="fa fa-circle fa-stack-2x"></span>
			<span class="fa fa-code-fork fa-stack-1x"></span>
		</div>
		<h3>UX</h3>
		<h4>Deliberate decision-making and testing to perfect the app's&nbsp;interaction.</h4>
	</div>
	<div class="skillset">
		<div class="fa-stack fa-4x">
			<span class="fa fa-circle fa-stack-2x"></span>
			<span class="fa fa-file-image-o fa-stack-1x"></span>
		</div>
		<h3>Design</h3>
		<h4>Modern and professional design approach from the phone to the&nbsp;desktop.</h4>
	</div>
	<div class="skillset">
		<div class="fa-stack fa-4x">
			<span class="fa fa-circle fa-stack-2x"></span>
			<span class="fa fa-code fa-stack-1x"></span>
		</div>
		<h3>Front-End</h3>
		<h4>Cutting-edge programming filled with animation and&nbsp;interactivity.</h4>
	</div>
</section>
<section class="portfolioBanner">
	<span class="portfolioBannerText">
		Always innovating.<br/>
		<em>Here's the technology I use:</em>
	</span>
</section>
<section class="skillBoxes">
	<div ng-repeat="sBox in skillBoxes" class="flex-space-around flex-wrap {{sBox.name}}">
		<div ng-repeat="sBox in skillBoxes[$index].skills" class="col-even">
			<div class="appBox {{sBox.name}}">
				<div class="center pos-all">{{sBox.title}}</div>
			</div>
		</div>
	</div>
</section>
<section class="portfolioBanner">
	<a ui-sref="portfolio">
		<span class="portfolioBannerText">
			Want to see what I can do?<br/>
			<em>Check out my portfolio.</em>
			<span class="cta">
				<span class="arrow fa fa-angle-right"></span>
			</span>
		</span>
	</a>
</section>